.footer-container{
    position: fixed;
    justify-content: unsafe;
    bottom: 0;
    width: 100%;
    background: black;
    color: white;
    text-align: center;
}

.logo-right{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.img-github{
    height: 40px;
    margin: 10px;
}
.img-github:hover{
    height: 40px;
    margin: 10px;
    border-radius: 100%;
    box-shadow: 0 0 20px #4f9;
    
}
